@font-face {
	font-family: 'Fira Mono', monospace;
	src: url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap');
}
* {
	box-sizing: border-box;
}
body{
	background-color: white;
	max-width: 1024px;
	margin: auto;
	font-family: "Fira Mono", monospace;
	font-size: 18px;
	line-height: 1.5;
	color: black;
}